<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="folder === 'MyBooks'">My Books</ion-title>
    <ion-title *ngIf="folder === 'Trade'">Trade</ion-title>
    <ion-title *ngIf="folder === 'MyTrades'">Trade</ion-title>
    <ion-buttons slot="primary" *ngIf="folder === 'MyBooks'">
      <ion-button [routerLink]="['./createBook']">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content *ngIf="folder === 'MyBooks'">
  <app-book-card *ngFor="let book of bookList"
                [book]="book" >
  </app-book-card>
</ion-content>
<ion-content *ngIf="folder === 'Trade'">
  <app-book-card *ngFor="let book of bookTradeList"
                [book]="book" >
  </app-book-card>

</ion-content>
