
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Details</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteBook()">
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label value="Disabled">Id: {{book.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Title: </ion-label>
    <ion-input [(ngModel)]="book.title"></ion-input>
  </ion-item>
  <ion-item type="number">
    <ion-label>Price: </ion-label>
    <ion-input [(ngModel)]="book.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Synopses:</ion-label>
    <ion-textarea [(ngModel)]="book.synopses" ></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="changeBook()" >Save Changes</ion-button>
</ion-content>
